body{
    display: grid;
    grid-auto-rows: 50px auto auto;
    grid-template-areas: "header" "main_content" "footer";
    background-color: aqua;
    gap: 10px
}

header{
    grid-area: header;
}

#footer{
    grid-area: footer;
}

.main{
    grid-area: main_content;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "main_map content";
    display: grid;
}

#contents{
    grid-area: content;
    display: grid;
    grid-template-rows: 100px 3fr; 
    grid-template-areas: "buttonHome" "survey";
}


#theSurvey{
    grid-area: survey; 
}

#placeForButtons{
    grid-area: buttonHome; 
}


#the_map{
    height:80vh;
    grid-area: main_map;
}

